// ======================================================================
// Slate Ratios | hello@hashandsalt.com
// ======================================================================

// Minor Second
$minor-second: 1.067;

// Major Second
$major-second: 1.125;

// Minor Third
$minor-third: 1.2;

// Miajor Third
$major-third: 1.25;

// Perfect Forth
$perfect-fourth: 1.333;

// Augmented Forth
$augmented-fourth: 1.414;

// Perfect Fith
$perfect-fifth: 1.5;

// Minor Sixth
$minor-sixth: 1.6;

// Golden Section
$golden-section: 1.618;

// Major Sixth
$major-sixth: 1.667;

// Minor Seventh
$minor-seventh: 1.778;

// Major Seventh
$major-seventh: 1.875;

// Octave
$octave: 2;

// Major Tenth
$major-tenth: 2.5;

// Major Eleventh
$major-eleventh: 2.667;

// Major Twelth
$major-twelfth: 3;

// Double Octave
$double-octave: 4;
