// ======================================================================
// 05-objects - Logo
// ======================================================================

.logo {
  a {
    display: block;
    width: rem(80px);
    height: rem(80px);
  }

  svg {
    width: 100%;
    height: 100%;
  }
  @include media("<medium") {
    margin: 0 auto;
  }
}
