// ======================================================================
// 04-elements - Body
// ======================================================================

body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
