html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: #3c3c3c;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.h1,
h1 {
  font-size: 2.375rem;
  line-height: 1.2631578947;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.h2,
h2 {
  font-size: 1.75rem;
  line-height: 1.7142857143;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.h3,
h3 {
  font-size: 1.3125rem;
  line-height: 1.1428571429;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

.h4,
.h5,
h4,
h5 {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.h1,
.h2,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5 {
  color: #3c3c3c;
  font-family: "Gill Sans MT", "Gill Sans", Tahoma, Geneva, sans-serif;
  font-weight: 400;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

ol,
ul {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
ol ol,
ul ol {
  margin-bottom: 0;
  margin-top: 0;
}
ol ul,
ul ul {
  margin-bottom: 0;
  margin-top: 0;
}

dl {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
dl dt {
  font-weight: 600;
}
dl dd {
  font-style: italic;
}

blockquote {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-style: italic;
}

blockquote > p {
  padding: 0;
}

a {
  color: #3c3c3c;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: underline;
}
a:active, a:focus {
  outline: none;
  color: #000;
}
p a {
  border-bottom: 1px solid #3c3c3c;
}

hr {
  border: 0;
  border-top: 1px solid #96def0;
  display: block;
  height: 1px;
  padding: 0;
  margin-bottom: 1.5rem;
}

sub,
sup {
  position: relative;
  top: -0.4rem;
  vertical-align: baseline;
}

sub {
  top: 0.4rem;
}

b {
  line-height: 1;
}

small {
  line-height: 1;
}

strong {
  font-weight: 700;
  color: #3c3c3c;
}

cite,
dfn,
em,
q {
  line-height: 1.5;
}

code {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

kbd {
  margin-bottom: 1px;
  padding: 0;
  position: relative;
  top: -1px;
}

pre {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  background-color: #3c3c3c;
  color: #eee;
  font-weight: 700;
  font-family: Monaco, "Lucida Sans Typewriter", Consolas, "Courier New", monospace;
  white-space: pre;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: pre\9 ;
}

html {
  box-sizing: border-box;
  height: 100%;
}
html *,
html *:after,
html *:before {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: #eee;
}

figure {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.btn {
  margin: 0 0 1.5rem 0;
  padding: 0 0.5rem;
  line-height: 2.75rem;
  font-size: 1rem;
  height: 2.75rem;
  border-radius: 0;
  font-family: inherit;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  box-sizing: content-box;
  text-decoration: none;
  cursor: pointer;
  color: #3c3c3c;
  background: #96def0;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  border-color: #9f9f9f;
}
.btn:hover {
  color: #3c3c3c;
  text-decoration: none;
  background: #53c9e6;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  border-color: #3c3c3c;
}
.btn:focus {
  color: #3c3c3c;
  text-decoration: none;
  background: #3dc2e3;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  border-color: #3c3c3c;
}
.btn:active {
  color: #3c3c3c;
  text-decoration: none;
  background: #69d0ea;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
}
.btn:disabled {
  color: #3c3c3c;
  text-decoration: none;
  background: #adadad;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  border-color: #7a7a7a;
}

.table {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, sans-serif;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin: 24px 0 24px 0;
  background-color: #fff;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  border-color: #000;
}
.table caption {
  padding: 1.5rem 0;
  font-size: 1.375rem;
  background: #fff;
  font-family: inherit;
  font-weight: 700;
  color: #3c3c3c;
  text-align: center;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #eee;
}
.table thead td,
.table thead th {
  padding: 1rem 0;
  font-size: 1rem;
  background: #eee;
  font-family: inherit;
  font-weight: 400;
  color: #3c3c3c;
  text-align: center;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #fff;
}
.table tbody td {
  padding: 0.5rem 0;
  font-size: 1rem;
  background: #eee;
  font-family: inherit;
  font-weight: 400;
  color: #3c3c3c;
  text-align: center;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #fff;
}
.table tfoot td {
  padding: 0.5rem 0;
  font-size: 1rem;
  background: #eee;
  font-family: inherit;
  font-weight: 400;
  color: #3c3c3c;
  text-align: center;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #fff;
}

.logo a {
  display: block;
  width: 5rem;
  height: 5rem;
}
.logo svg {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 71.25rem;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.header {
  max-width: 71.25rem;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1.5rem 0;
  align-items: center;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  max-width: 71.25rem;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  text-align: center;
}
footer:after {
  content: "";
  display: table;
  clear: both;
}

.menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  justify-content: center;
}

@media (max-width: 800px) {
  .logo {
    margin: 0 auto;
  }
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media (min-width: 800px) {
  .menu-list {
    justify-content: flex-end;
  }
}
/*# sourceMappingURL=site.css.map*/