// ======================================================================
// 02-tools - Media
// ======================================================================

%fluidimg {
  width: 100%;
  height: auto;
}

%embed {
  @include ioe;
  margin: 0 0 rem(24px);
}
