// ======================================================================
// 06-components - Menu
// ======================================================================

.menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  justify-content: center;
  text-transform: uppercase;
  font-weight: $semibold;
  @include media(">medium") {
    justify-content: flex-end;
  }
}
